.general-container-workercell {
  background-color: white;
  width: 95%;
  height: 15em;
  margin-left: 2.5%;
  box-shadow: 0px 0px 3px 0px #ccc;
  margin-bottom: 2em;
  border-radius: 15px;
}

.title-workercell {
  color: #1ab394;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.15em;
}

.title-workercell:hover {
  color: #1fa88d;
}

.title-workercell-container {
  margin-left: 1%;
  width: 99%;
  height: 2em;
}

.name-workercell{
    font-weight: bold;
    font-size: 12px;
    color: #675a6c;
}

.name-workercell-container{
    margin-left: 1%;
    width: 99%;
    height: 0.8em;
}

.description-workercell{
    font-weight: 400;
    font-size: 12px;
    color: #675a6c;
}

.description-workercell-container{
    margin-left: 1%;
    width: 99%;
    height: 7em;
    overflow-y: auto;
}

.botton-worker-cell{
    display: flex;
    margin-left: 1%;
    width: 99%;
    height: 2em;
}

.trabajos-workercell{
    font-weight: bold;
    font-size: 14px;
    color: #675a6c;
}

.separador-workercell{
    margin-left: 1em;
    margin-right: 1em;
}

.button-workercell{
    background-color: #1ab394;
    width: 6em;
    height: 2em;
    color: white;
    border-radius: 0.3em;
    font-size: 1em;
    margin-top: 1em;
    border: 0;
    cursor: pointer;    
}

.button-workercell-container{
    margin-left: 1%;
    width: 99%;
    height: 2.5em;
    display: flex;
    align-items: center;
}
