li {display: inline;}

ul {
    display: flex;
    align-content: center;
    align-items: center;
} 

.navigation-bar-container-login{
    background-color: #f3f3f4;
    width: 100%;
    height: 3.5em;
    border: 0.1em solid #f3f3f4;
    display: flex;
    justify-content: flex-end;
}

.container-li-bienvedios-nav-login{
    height: 3em;
    width: auto;
    margin-right: 1em;
    align-items: center;
    display: flex;
    margin-right: 2em;
}

.container-li-login-login{
    height: 3em;
    width: auto;
    margin-right: 1em;
    cursor: pointer;
}

.container-li-icon-login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-icon-login{ 
    height: 100%;
    width: 100%;
}

.login-container-icon-login{
    margin-top: 0.7em;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.text-nav-bar-login{
    color: #999c9e;
    font-weight: lighter;
}

.text-login-nav-login{
    color: #999c9e;
    font-weight: bold;
}