.menuleft-general-container{
    width: 100%;
    height: 100%;
    background-color: #2f4050;
}

.menuleft-background-img {
    width: 100%;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-menuleft{
    width: 100%;
    height: 100%;
}

.container-icon-menuleft{
    width: 4.5em;
    height: 4.5em;
}