.view-workerprofile-general-container {
  display: flex; 
  width: 100%;
  height: 92vh;
  align-items: flex-start;
}

.view-workerprofile-reviews-container {
  width: 50%;
  max-height: 35em;
  overflow-y: auto;
}

.view-workerprofile-information-container{
  width: 50%;
}