.general-register-container{
    width: 100%;
    height: 100%;
    column-count: 2;
    align-items: center;
    display: flex;
    column-gap: 2em; /* separacion entre columnas */
}

.image-container-register{
    width: 36em;
    height: 30em;
    margin-left: 8em;
}

.image-register{
    width: 100%;
    height: 100%;
}


/* #1ab394 */ 